<section class="bg-blue-pastel">
  <div class="grid-container">
    <div class="grid-x grid-padding-x align-center text-center case-title">
      <h2 class="cell medium-10">UI design for a medical device</h2>
    </div>
    <div class="grid-x grid-padding-x align-center case-pictures">
      <div class="cell medium-11 large-10">
        <div class="carousel">
          <div><%= image_tag 'insufflator/insufflator-01.png' %></div>
          <div><img data-lazy="<%= image_path('insufflator/insufflator-02.png') %>", alt="insufflator-02"></div>
          <div><img data-lazy="<%= image_path('insufflator/insufflator-03.png') %>", alt="insufflator-03"></div>
        </div>
      </div>
    </div>
    <div class="grid-x grid-padding-x align-center case-info">
      <div class="cell medium-4 large-3 text-small">
        <p class="text-small"><small class="text-grey-muted">Context</small><br />2013, World of Medicine GmbH</p>
      </div>
      <div class="cell medium-8 large-7 text-small">
        <p class="text-small"><small class="text-grey-muted">Project</small><br />Interface design for a multi-indication pump for minimally inversive surgery</p>
      </div>
    </div>
  </div>
</section>
