*
  box-sizing: border-box

section
  padding: $section-padding-y $section-padding-x

.selfie
  background-color: #FFFBF3

  img
    mix-blend-mode: multiply
    opacity: .85

ul
  list-style-type: none
  margin-left: 0

.clearfix
  +clearfix

.case-title
  margin-bottom: $sp-base

.case-pictures
  margin-bottom: $sp-big
