body, html
  font-size: calc(0.75rem + 0.5vw)

h1, h2
  font-weight: $fw-black

h5, h6
  margin-bottom: 0.75em

.like-h1
  @extend h1

.like-h2
  @extend h2

.like-h3
  @extend h3

.like-h4
  @extend h4

.like-h5
  @extend h5

.like-h6
  @extend h6

p, li
  font-size: $fs-base

.timespan
  margin-bottom: 0
  pointer-events: none
  text-decoration: none
  color: $c-black

a.external:after
  content: "\2197"
  font-size: 1.3ex
  opacity: .6
  margin-left: .1em
  font-weight: $fw-regular

.text-caps
  text-transform: uppercase
  letter-spacing: 0.05em

.text-medium
  font-size: $fs-medium

.text-small
  font-size: $fs-small

.text-xsmall
  font-size: $fs-xsmall

.text-primary
  color: $c-primary

.text-secondary
  color: $c-secondary

.text-grey
  color: $c-grey-base

.text-black
  color: $c-black

.text-bold
  font-weight: $fw-bold

.text-grey-muted
  color: $c-grey-muted

.text-underlined
  display: inline
  border-bottom: .15em solid rgba($c-black, .3)
  padding-bottom: .15em
  margin-bottom: .5em
  line-height: 1.8

.tag
  padding: .1em .4em
  text-transform: uppercase
  letter-spacing: .1em
  margin: 0 .5em 0 0
  display: inline-block
  border-radius: 1px
  font-size: rem-calc(10)
  color: $c-grey-base
  font-weight: $fw-bold
  border: 1px solid currentcolor
  vertical-align: middle
  cursor: pointer

  &.design
    color: $c-design

    &:hover,
    &.active
      background-color: $c-design
      color: $c-white
      border-color: $c-design

  &.frontend
    color: $c-frontend

    &:hover,
    &.active
      background-color: $c-frontend
      color: $c-white
      border-color: $c-frontend

  &.cms
    color: $c-cms

    &:hover,
    &.active
      background-color: $c-cms
      color: $c-white
      border-color: $c-cms

  &.branding
    color: $c-branding

    &:hover,
    &.active
      background-color: $c-branding
      color: $c-white
      border-color: $c-branding

  &.text
    color: $c-text

    &:hover,
    &.active
      background-color: $c-text
      color: $c-white
      border-color: $c-text

+breakpoint(medium)

  p a,
  h4 a
    transition: box-shadow .2s, background-color .2s, transform .5s, border-radius .4s, color .3s
    display: inline-block
    border-radius: 0 200% 0 0

    &:hover
      color: $c-primary
      box-shadow: 0 0 60px 20px $c-link-hover-bg
      padding: 2px 8px
      margin: -2px -8px
      transform: translateY(-1px)
      position: relative
      z-index: 1000
      background-color: $c-white
      border-radius: 0
