// Spaces

$sp-small: rem-calc(10)
$sp-base: rem-calc(20)
$sp-big: rem-calc(40)
$sp-large: rem-calc(60)

$section-padding-x: 3vw
$section-padding-y: 8vw

$gutter-small: rem-calc(20)
$gutter-medium: rem-calc(40)
$gutter-large: rem-calc(60)


// typo

$font-stack-sans: 'Work Sans', sans-serif

$fs-global: calc(0.75rem + 0.5vw)
$fs-xsmall: rem-calc(12)
$fs-small: rem-calc(14)
$fs-base: rem-calc(16)
$fs-medium: rem-calc(18)
$fs-big: rem-calc(22)
$fs-large: rem-calc(36)
$fs-xlarge: rem-calc(48)

$fw-regular: 300
$fw-bold: 600

$lh-small: 1.3
$lh-normal: 1.5
