<ul class="social-links">
  <li class="linkedin"><%= link_to "Find me on Linkedin", "https://www.linkedin.com/in/bj%C3%B6rn-richter-799899125", target: "blank", title: "Find me on Linkedin" %></li>
  <li class="xing"><%= link_to "Find me on xing", "https://www.xing.com/profile/Bjoern_Richter14", target: "blank", title: "Find me on Xing" %></li>
  <li class="github"><%= link_to "Find me on github", "https://github.com/rbjoern84", target: "blank", title: "Find me on github" %></li>
</ul>
