<section class="grid-lines">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell small-1">
        <div class="content"></div>
      </div>
      <div class="cell small-1">
        <div class="content"></div>
      </div>
      <div class="cell small-1">
        <div class="content"></div>
      </div>
      <div class="cell small-1">
        <div class="content"></div>
      </div>
      <div class="cell small-1">
        <div class="content"></div>
      </div>
      <div class="cell small-1">
        <div class="content"></div>
      </div>
      <div class="cell small-1">
        <div class="content"></div>
      </div>
      <div class="cell small-1">
        <div class="content"></div>
      </div>
      <div class="cell small-1">
        <div class="content"></div>
      </div>
      <div class="cell small-1">
        <div class="content"></div>
      </div>
      <div class="cell small-1">
        <div class="content"></div>
      </div>
      <div class="cell small-1">
        <div class="content"></div>
      </div>
    </div>
  </div>
</section>
