<% link_to "https://bjoern-richter.com", class: 'logo' do %>
  <div class="grid-x">
    <%= image_tag "bjoern-richter-logo.svg", class: "cell shrink" %>
    <p class="cell auto">Björn<span>|</span>Richter<br />Digital<span>|</span>Product<span>|</span>Designer<br />Frontend<span>|</span>Developer</p>
  </div>
<% end %>
