<section id="skills" class="p-bottom-0">
  <div class="grid-container">
    <div class="grid-x grid-padding-x align-center text-center">
      <h2 class="cell medium-10">Experience and Skills</h2>
      <ul class="skills-filter align-center">
        <li v-for="category in categories" class="skill-filter" v-bind:class="{ active: active === category }">
          <a href="" v-on:click="selectCategory">{{category}}</a>
        </li>
      </ul>
      <hr>
      <ul class="skills cell">
        <li class="skill" v-for="skill in filteredSkills">
          <span class="skill__name">{{ skill.name }}</span>
          <div class="skill__progress-bar">
            <div v-bind:style="{ width: skill.value + '%' }"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<script type="text/javascript">
  var skills = new Vue({
    el: "#skills",
    data: {
      skills: [
        { category: "Design", name: "UI Design", value: "100" },
        { category: "Design", name: "UX Conception", value: "70" },
        { category: "Design", name: "Design Systems", value: "65" },
        { category: "Design", name: "User-Testing and Research", value: "45" },
        { category: "Design", name: "Typography", value: "80" },
        { category: "Design", name: "Corporate Design", value: "40" },
        { category: "Design", name: "Graphic Design", value: "35" },
        { category: "DEV", name: "HTML/CSS/Sass", value: "100" },
        { category: "DEV", name: "JavaScript", value: "75" },
        { category: "DEV", name: "React", value: "65" },
        { category: "DEV", name: "Redux", value: "50" },
        { category: "DEV", name: "TypeScript", value: "55" },
        { category: "DEV", name: "TDD (Enzyme, Cypress)", value: "70" },
        { category: "DEV", name: "Storybook", value: "25" },
        { category: "DEV", name: "git", value: "65" },
        { category: "DEV", name: "Agile, Scrum, Kanban", value: "80" },
        // { category: "Personal", name: "Passion", value: "100" },
        { category: "Personal", name: "Analytical thinking", value: "100" },
        { category: "Personal", name: "Problem Solving", value: "95" },
        { category: "Personal", name: "Teamwork", value: "90" },
        // { category: "Personal", name: "Structured working", value: "95" },
        { category: "Personal", name: "Reliability", value: "95" },
        { category: "Personal", name: "Creativity", value: "85" },
        { category: "Personal", name: "Communication", value: "80" },
        // { category: "Personal", name: "Self reflection", value: "75" },
        { category: "Personal", name: "Presentation", value: "65" },
        { category: "Personal", name: "Moderation", value: "45" },
        { category: "Industry", name: "Finance/Banking", value: "85" },
        { category: "Industry", name: "Finance/Trading", value: "65" },
        { category: "Industry", name: "eCommerce", value: "55" },
        { category: "Industry", name: "Editorial", value: "50" },
        { category: "Industry", name: "Branding/Marketing/Advertising", value: "45" },
        { category: "Industry", name: "Medical Technology", value: "35" },
        { category: "Industry", name: "Computer Games", value: "15" },
      ],
      active: "Design"
    },
    methods: {
      selectCategory: function(e){
        e.preventDefault();
        this.active = e.target.innerText;
        return false;
      }
    },
    computed: {
      categories: function(){
        var allCategories = [];
        this.skills.forEach(function(skill){
          allCategories.push(skill.category);
        });
        var uniqueCategories = [];
        allCategories.forEach(function(category){
          if($.inArray(category, uniqueCategories) === -1) uniqueCategories.push(category);
        });
        return uniqueCategories;
      },
      filteredSkills: function(){
        vm = this;
        return this.skills.filter(function (skill) {
          return skill.category === vm.active;
        });
      }
    }
  })
</script>
