.bg-blue-pastel
  background: $bg-blue-pastel

  .device.desktop + hr
    border-color: scale-color($c-blue-pastel, $lightness: -8%, $saturation: -50%)

.bg-green-pastel
  background: $bg-green-pastel

  .device.desktop + hr
    border-color: scale-color($c-green-pastel, $lightness: -8%, $saturation: -50%)

.bg-brown-pastel
  background: $bg-brown-pastel

  .device.desktop + hr
    border-color: scale-color($c-brown-pastel, $lightness: -8%, $saturation: -50%)

.bg-purple-pastel
  background: $bg-purple-pastel

  .device.desktop + hr
    border-color: scale-color($c-purple-pastel, $lightness: -8%, $saturation: -50%)

.bg-grey-pastel
  background: $bg-grey-pastel

  .device.desktop + hr
    border-color: scale-color($c-grey-pastel, $lightness: -8%, $saturation: -50%)


.case-info > .cell p
  border-left: 2px solid rgba(black, .05)
  padding-left: $sp-base

.primary-image
  z-index: 10

.secondary-image img
  width: 100%
  box-shadow: $tile-box-shadow

.primary-image img
  width: 100%
  box-shadow: $big-box-shadow
