header
  position: absolute
  z-index: 100
  padding: 1rem $section-padding-x
  width: 100%

  .logo
    display: block

  img, p
    display: block
    float: left

  img
    height: calc(3.25rem + .5vw)
    transform: translateY(-7%)

  p
    margin: 0 $sp-base
    text-transform: uppercase
    letter-spacing: .2em
    font-size: rem-calc(10)

  a
    color: $c-black

  span
    color: $c-primary
    margin: 0 .25em
